<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065509707622-if2l6qnaae04tr1enuc6hriq0u2tjmt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065509707622-if2l6qnaae04tr1enuc6hriq0u2tjmt5</string>
	<key>API_KEY</key>
	<string>AIzaSyDyJHpwSnNKUF0V8auTU43BzzxH8fGsh0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1065509707622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tutoring-app-368813</string>
	<key>STORAGE_BUCKET</key>
	<string>tutoring-app-368813.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065509707622:ios:639b5f93d0f8e4e0df72a7</string>
</dict>
</plist>